gradio >= 6.20.0
pillow >= 12.3.0

# Google Cloud API
google-genai >= 2.12.1
google-cloud-storage >= 3.13.0

# BytePlus ModelArk API
byteplus-python-sdk-v2

# Local inference
torch
torchvision
diffusers
transformers
accelerate
stable-diffusion-cpp-python

